body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.custom-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

#custom-row-id {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.my-row {
    margin-top: 40px;
}

.btn {
    padding: 10px 50px;
    border-radius: 25px;
}

.btn a {
    text-decoration: none;
    color: #fff;    
    font-size: 20px;
}

.logout {
    padding: 5px 20px;
    margin-left: 20px;
}


/* Mobile screen */
@media only screen and (max-width: 500px) {
    .logout {
        margin-top: 20px;
        margin-left: 0px;
    }
}

