body {
    padding: 0;
    margin: 0;
    background-color: rgb(48, 47, 47);
}

.my-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.my-container .conact-list-container {
    position: relative;
    width: 400px;
    height: 550px;
    margin: 0 30px;
    background: rgb(14, 14, 14);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.my-container .conact-list-container::-webkit-scrollbar {
    display: none;
}


.my-row {
    background-color: transparent;
    height: 60px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.my-row:hover {
    background-color: grey;
}

.my-col {
    padding: 0px !important;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.profile-image {
    height: 50px;
    width: auto;
    border-radius: 50%;
    margin-left: 20px;
}

.profile-name {
    margin: 0px;
    height: 100%;
    justify-content: start;
    align-items: center;
    display: flex;
    font-size: 15px;
    color: #aaa;
}

.my-anchor {
    text-decoration: none;
    color: #000;
}

.my-anchor:hover {
    color: #fff;
}

.last-messsage {
    margin-bottom: 0px;
    color: #aaa;
    font-size: 13px;
    justify-content: start;
    display: flex;
}

.custom-button {
    background-color: transparent; 
    border-color: transparent;
    margin-right: 10px;
}

.custom-button:hover {
    background-color: transparent; 
    border: none;
}

.fas {
    color: orangered;
    font-size: 25px;
}

.modal-content {
    background-color: rgb(48, 47, 47);
}

.modal {
    opacity: 1;
}

.notification {
    margin: 10px 10px 17px 10px;
}

.notification p{
    margin-bottom: 3px;
    color: #fff;
}

.notification p a {
    color: dodgerblue;
    text-decoration: none;
}

.notification button {
    font-size: 14px;
    margin-right: 5px;
    width: 45%;
}

.menu-image {
    height: 20px;
    width: auto;
    margin-left: 20px;
}

.logout {
    padding: 5px 20px;
    margin-left: 20px;
    border-radius: 25px;
}

#no-contacts {
    color: rgb(173, 158, 158);
    margin-top: 50px;
}

/* Mobile screen */
@media only screen and (max-width: 500px) {
    .logout {
        margin-top: 20px;
        margin-left: 0px;
    }
}





